{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>{% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">

</head>
<body>
	<header>
		<ul class="nav navbar-nav">
			<li><a href="/">Inicio</a></li>
			<li><a href="recetas">Lista Recetas</a></li>
			<li><a href="sobre">About</a></li>
			
		</ul>
	</header>
	
	<section>
		{% block contenido %}
			
		{% endblock %}
	</section>


	<script src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
</body>
</html>