{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>{% block titulo %}{% endblock %}</title>
	<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

</head>
<body>  
	<header>
		<ul class="nav nav-tabs nav-justified">
			<li><a href="{% url 'inicio' %}">Inicio</a></li>
			<li><a href="{% url 'lista_rece' %}">Lista Recetas</a></li>
		<li><a href="{% url 'sobre' %}">About </a> </li>
			
		</ul>
	</header>
	
	<section>
		{% block contenido %}
			
		{% endblock %}
	</section>

	<script src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
</body>
</html>